* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}


.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
  }


body {
	background-color:#f4ff9a;
	position: center;
}

#main {
	width: 100%;
	height: 100vh;
	position: relative;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	background-color: #24252a;
  }
  
 
  .logo {

	cursor: pointer;
}

.logo img {
	width: 20%;
	height: 30%;
	
	object-fit: contain;
	position:static;
	
}
  
  .nav__links a,.cta,.overlay__content a {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: #edf0f1;
	text-decoration: none;
  }
  
  .nav__links {
	list-style: none;
	display: flex;
  }
  
  .nav__links li {
	padding: 0px 20px;
  }
  
  .nav__links li a {
	transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
	color: #0088a9;
  }
  
  .cta {
	padding: 9px 25px;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: background-color 0.3s ease 0s;
  }
  
  .cta:hover {
	background-color: rgba(0, 136, 169, 0.8);
  }
  
  /* Mobile Nav */

  .menu {
	display: none;
  }
  
  .overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: #24252a;
	overflow-x: hidden;
	transition: width 0.5s ease 0s;
  }
  
  .overlay--active {
	width: 100%;
  }
  
  .overlay__content {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  
  .overlay a {
	padding: 15px;
	font-size: 36px;
	display: block;
	transition: color 0.3s ease 0s;
  }
  
  .overlay a:hover,.overlay a:focus {
	color: #0088a9;
  }
  .overlay .close {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
	color: #edf0f1;
  }
  
  @media screen and (max-height: 450px) {
	.overlay a {
	  font-size: 20px;
	}
	.overlay .close {
	  font-size: 40px;
	  top: 15px;
	  right: 35px;
	}
  }
  
  @media only screen and (max-width: 800px) {
	.nav__links,
	.cta {
	  display: none;
	}
	.menu {
	  display: initial;
	}
  }
  
.page-main {
	display: flex;
}
.image {
	width: 500px;
	height: 500px;
}

.image img {
	width: 50%;
	height: 50%;
	object-fit: contain;
	transform: all;
	position: relative;
	margin-top: 150px;
	margin-left: 80px;
	flex-wrap:nowrap;
	

	
}

.content {
	position: relative;
	margin-left: 10%;
	margin-top: 10%;
	animation-name: blinking;
    animation-duration: 4s;
}
@keyframes blinking {
	from {left:-200px; top:0px;}
	to {left:0PX; top:0px;}
  }
.content h1 {
font-size: 80px;
display: inline;

	
}

.content p {
	position: center;
	color: grey;


}

.text {
	margin-left: 50%;
}

.text h1 {
}

.text p {
	color: grey;
	
}

.resume-btn {
	width: 150px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-text-fill-color: white;
	background-color: #0ab2db;
	border-radius: 20px;
	box-shadow: 5px 10px 30px #ab2db;
}

.resume-btn:hover {
	background-color: #044a5c;
	zoom: 105%;
}

/*this is for skills page*/
.contentofskills{
	font-size: medium;
	font-style: normal;
	font: caption-bold;
	padding-left: 300px;
	margin-top: 100px;
	display:flexbox;	


}
.skilllist{
	flex: 50%;
	padding: 5px;

}
.laptop-photo{
	width: 300px;
	height: 200px;

}

.chart{
	padding: 0px;
	zoom: 150%;
	margin-top: 0px;

}


  